.navbar {
    background-color: #fff;
}


.navbar-brand {
    margin-right: 0%;
}

.navbar-toggler {
    background-color: #238EDE;
}

.container-fluid {
    height: 100%;
    width: 90%;
    padding-top: 15%;

    .container-page {
        margin-top: 1%;
        background-color: #F8F8F8;
        box-shadow: 0 10px 10px #00000040;
        border-radius: 10px;
        border: 1px solid #238EDE;
    }
}

.sidebar-nav ul li a {
    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
    color: #238EDE;
}

.sidebar-nav ul li a:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}

.sidebar-nav .offcanvas {
    width: 220px;
    border: none;
}

.sidebar-nav .offcanvas ul li a span {
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}

.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;
}

.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    margin-right: 5px;
}