<div class="sidebar-nav">
    <nav class="navbar navbar-dark fixed-top">
        <div class="container">
            <!-- Mobile Menu Toggle Button -->
            <span class="navbar-brand float-left">
                <img src="https://www.pandape.com/wp-content/uploads/2023/05/logo-pandape-200px.svg" width="150"
                    height="150" style="margin: 3%; border-radius: 6px;" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </span>

            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div style="text-align: center; margin: 10% !important;">
                    <a class="navbar-brand float-left" href="#">
                        <img src="https://www.pandape.com/wp-content/uploads/2023/05/logo-pandape-200px.svg" width="150"
                            height="150" style="margin: 3%; border-radius: 6px;" alt="">
                    </a>
                </div>

                <br>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a [routerLink]="['/core/candidate']"><i class="bi bi-calendar3"></i> <span
                                    class="item-text">Crear candidato</span></a></li>
                        <li><a [routerLink]="['/core/candidates-list']"><i class="bi bi-pencil-square"></i> <span
                                    class="item-text">lista de candidatos</span></a></li>
                    </ul>
                </div>
            </div>
        
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card container-page offset-md-1 col-md-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>