input {
   padding: .532rem 1.25rem;
   font-size: 1.125rem;
   line-height: 1.7;
   border-radius: .5rem;
   margin: 3%;
}

.btn-blue {
   color: #fff;
   border-color: #238EDE;
   background-color: #238EDE;
}