<div class="row">
    <div class="col-md-12">
        <form [formGroup]="form">
            <div class="row">
                <div class="offset-md-1 col-md-5">
                    <div class="form-group">
                        <input type="text" formControlName="name"
                            class="form-control form-control-lg" placeholder="Nombre" />
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="surname"
                            class="form-control form-control-lg" placeholder="Apellido" />
                    </div>
                   
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="date" formControlName="birthdate"
                            class="form-control form-control-lg" placeholder="Fecha de nacimiento" />
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="email"
                            class="form-control form-control-lg" placeholder="Correo" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <app-list-add-experience (experiencesListAdd)="onExperienceAdded($event)"></app-list-add-experience>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <button class="btn btn-blue btn-lg btn-block" type="button" (click)="onSubmit()" [disabled]="!form.valid">Guardar</button>
    </div>
</div>