<form [formGroup]="form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" formControlName="company" class="form-control " placeholder="Empresa" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" formControlName="job" class="form-control " placeholder="Puesto de trabajo" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" formControlName="description" class="form-control " placeholder="Descripción" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="number" formControlName="salary" class="form-control " placeholder="Salario" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="date" formControlName="beginDate" class="form-control " placeholder="Fecha de inicio" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="date" formControlName="endDate" class="form-control "
                    placeholder="Fecha de finalización" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-list-experiences [experienceList]="experiencesList"></app-list-experiences>
        </div>
    </div>
    <button (click)="addExperience()" class="btn btn-primary">Agregar</button>
</form>