h1 {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 1%
}



body,
p,
h1,
h2,
h3,
h4,
span,
div,
li,
a {
    color: #238EDE;
}


.content-header {
    text-align: left;
    margin-top: 3%;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #ffd600 !important;
}