<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de Nacimiento</th>
          <th>Correo</th>
          <th>Fecha de Inserción</th>
          <th>Fecha de Modificación</th>
          <th>Estado</th>
          <th>Ver experiencia</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of listCandidates">
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.surname }}</td>
          <td>{{ candidate.birthdate | date }}</td>
          <td>{{ candidate.email }}</td>
          <td>{{ candidate.insertDate | date }}</td>
          <td>{{ candidate.modifyDate | date }}</td>
          <td>{{ candidate.status ? 'Activo' : 'Inactivo' }}</td>
          <td><button (click)="VerExperiencia(candidate)" class="btn btn-primary">Ver</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="row" *ngIf="experiencesList.length > 0">
  <div class="col-md-12">
    <br>
    <br>
    <p class="title-table">Experiencia de usuario de seleccionado</p>
    <app-list-experiences [experienceList]="experiencesList"></app-list-experiences>
  </div>
</div>