
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Company</th>
        <th>Job</th>
        <th>Description</th>
        <th>Salary</th>
        <th>Begin Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let experience of experienceList; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ experience.company }}</td>
        <td>{{ experience.job }}</td>
        <td>{{ experience.description }}</td>
        <td>{{ experience.salary }}</td>
        <td>{{ experience.beginDate | date }}</td>
        <td>{{ experience.endDate | date }}</td>
      </tr>
    </tbody>
  </table>